* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #1f1f1f;

  color: #fff;
}
.container {
  min-height: 10vh;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-weight: 500;
}
.nav_links {
  display: flex;
  gap: 30px;
}
.nav_links a {
  color: #fff;
  line-height: 40px;
  font-size: 15px;
  letter-spacing: 2px;
}
.hamburger {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  nav {
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: #1f1f1f;
    min-height: 100vh;
    width: 50%;
    padding: 0 10px;
    clip-path: circle(0% at 100% 0);
    transition: all 0.5s;
    visibility: hidden;
  }
  .nav_active {
    background-color: #1f1f1f;
    clip-path: circle(99.1% at 90% 15%);
    visibility: visible;
  }
  .nav_links {
    gap: 0;
    flex-direction: column;
  }
}
